DATABASE_URL=postgresql://username:password@your_host:port/database_name
PORT=3500
JWT_SECRET=993cc04d4144c8ed0c99352c4f5f0618

GOOGLE_CALLBACK_URL=http://your_host:port/google/callback
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET

USER_AUTH=your_mail@mail.com
USER_PASS=your_pass